{% load static %}

<!-- Footer -->
<footer class="page-footer text-center text-md-left mt-5  elegant-color-dark">

  <!-- Footer Links -->
  <div class="container mb-2">

    <!-- First row -->
    <div class="row">

      <!-- First column -->
      <div class="col-md-12 my-4 wow fadeIn" data-wow-delay="0.3s">

        <div class="footer-socials flex-center">

          <!-- Facebook -->
          <a type="button" class="btn-floating btn-secondary"><i class="fab fa-facebook-f"></i></a>

          <!-- Linkedin -->
          <a type="button" class="btn-floating btn-secondary"><i class="fab fa-linkedin-in"></i></a>

          <!-- Instagram -->
          <a type="button" class="btn-floating btn-secondary"><i class="fab fa-instagram"></i></a>

        </div>

      </div>
      <!-- First column -->

    </div>
    <!-- First row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright py-3 text-center">

    <div class="container-fluid">

      © 2020 <a href="http://mcrigor.herokuapp.com" target="_blank"> Mc Rigor F. Villaruel</a>

    </div>

  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
