{% extends 'portfolio/base.html' %}

{% load static %}
{% block content %}

<!-- Main layout -->
<main>

  <!-- Start About -->
  <div class="container-fluid" style="background-color: #323438;">

    <!-- First container -->
    <div class="container pt-3">

      <!-- Section About -->
      <section id="about" class="section pt-2 pb-5">

        <!-- Secion heading -->
        <h1 class="text-center white-text text-uppercase font-weight-bold mt-5 mb-3 mt-4 wow fadeIn" data-wow-delay="0.2s">About me</h1>

        <!-- Section description -->
        <div class="line wow fadeIn" data-wow-delay="0.2s"></div>

        <!-- First row -->
        <div class="row mt-5 pt-5">

          <!-- First column -->
          <div class="col-lg-5 col-md-12 mb-5 wow fadeIn" data-wow-delay="0.4s">

            <!-- Image -->
            <img src="{% static 'img/about/fb.jpg' %}" class="img-fluid z-depth-1" alt="My photo">

          </div>
          <!-- First column -->

          <!-- Second column -->
          <div class="col-lg-6 offset-lg-1 col-md-12 wow fadeIn" data-wow-delay="0.4s">

            <!-- Description -->
            <p class="text-center white-text text-uppercase font-weight-bold  wow fadeIn" data-wow-delay="0.2s">All about

              my passion</p>
            <p class="grey-text mb-4" align="justify">
              I'm a Web Developer | IT Staff, currently working at Intercast Healthcare Corp.
              I have a serious passion for web development, creating intuitive and dynamic user experiences
              for web and mobile devices. And I am passionate about building excellent program/script that improves
              the lives of those around me.
            </p>

            <!-- <a class="btn btn btn-outline-white waves-effect">Read more</a> -->

          </div>
          <!-- Second column -->

        </div>
        <!-- First row -->

      </section>
      <!-- End Section About -->

    </div>

  </div>
  <!-- End About -->


    <!-- Start Skills-->
      <div class="container-fluid" style="background-color: #f3f3f5;">

        <div class="container py-4 pt-4">

          <!-- Second section -->
          <section id="skills">

            <!-- First row -->
            <div class="row py-5">

              <!-- First column -->
              <div class="col-lg-6 col-md-12 mb-3 wow fadeIn" data-wow-delay="0.4s">

                <!-- Section heading -->
                <div class="d-flex justify-content-start">

                  <h4 class="text-center text-uppercase mb-5 pb-3 mt-4 wow fadeIn" data-wow-delay="0.2s">My
                    <strong>experience</strong></h4>

                </div>

                <!-- Description -->
                <blockquote class="blockquote bq-warning mb-4">

                  <div class="row"> <i class="fas fa-briefcase fa-x mb-1 mr-3 ml-3" aria-hidden="true"></i>

                    <h5 class="font-weight-bold mb-3">IT Staff</h5>

                  </div>

                  <p class="font-weight-bold ml-1 dark-grey-text mb-2">January, 2018 - Present</p>

                  <p class="mb-0 ml-1 light-grey-text">Intercast Healthcare Corp.</p>

                </blockquote>

                <blockquote class="blockquote bq-warning mt-1 mb-4">

                  <div class="row"> <i class="fas fa-briefcase fa-x mb-1 mr-3 ml-3" aria-hidden="true"></i>

                    <h5 class="font-weight-bold mb-3">IT Staff</h5>
                  </div>

                  <p class="font-weight-bold ml-1 dark-grey-text mb-2">August 2016 - December 2017 (1 year, 5 Months)</p>

                  <p class="mb-0 ml-1 light-grey-text">Kitchen Beauty Marketing Corporation</p>

                </blockquote>

                <blockquote class="blockquote bq-warning">

                  <div class="row"> <i class="fas fa-briefcase fa-x mb-1 mr-3 ml-3" aria-hidden="true"></i>

                    <h5 class="font-weight-bold mb-3">MIS Assistant</h5>
                  </div>

                  <p class="font-weight-bold ml-1 dark-grey-text mb-2"><strong>August 2015 - February 2016 (7 Months)</strong></p>

                  <p class="mb-0 ml-1 light-grey-text">New Rural Bank of San Leonardo, Inc.</p>

                </blockquote>

                <blockquote class="blockquote bq-warning">

                  <div class="row"> <i class="fas fa-briefcase fa-x mb-1 mr-3 ml-3" aria-hidden="true"></i>

                    <h5 class="font-weight-bold mb-3">Telecommunications Technician</h5>
                  </div>

                  <p class="font-weight-bold ml-1 dark-grey-text mb-2"><strong>January 2009 - May 2012 (3 Years, 5 Months)</strong></p>

                  <p class="mb-0 ml-1 light-grey-text">M.D Tambungui Specialis (MDTS) Inc.</p>

                </blockquote>

              </div>
              <!-- First column -->

              <!-- Second column -->
              <div class="col-lg-5 offset-lg-1 col-md-12 mb-4 wow fadeIn" data-wow-delay="0.4s">

                <!-- Second heading -->
                <div class="d-flex justify-content-start">

                  <h4 class="text-center text-uppercase mb-5 pb-3 mt-4 wow fadeIn" data-wow-delay="0.2s">Development
                    <strong>Skills</strong></h4>

                </div>

                <!-- Description -->
                <p class="black-text text-uppercase font-weight-bold" align="justify">Java Script</p>

                <div class="md-progress">

                  <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>

                </div>

                <p class="black-text text-uppercase font-weight-bold pt-3" align="justify">CSS3</p>

                <div class="md-progress">

                  <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>

                </div>

                <p class="black-text text-uppercase font-weight-bold pt-3" align="justify">HTML5</p>

                <div class="md-progress">

                  <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>

                </div>

                <p class="black-text text-uppercase font-weight-bold pt-3" align="justify">Bootstrap</p>

                <div class="md-progress">

                  <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>

                </div>

                <p class="black-text text-uppercase font-weight-bold pt-3" align="justify">Python</p>

                <div class="md-progress">

                  <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>

                </div>

                <p class="black-text text-uppercase font-weight-bold pt-3" align="justify">Django Framework</p>

                <div class="md-progress">

                  <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>

                </div>

                <p class="black-text text-uppercase font-weight-bold pt-3" align="justify">SQL</p>

                <div class="md-progress">

                  <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>

                </div>

                <p class="black-text text-uppercase font-weight-bold pt-3" align="justify">SAP Crystal Reports</p>

                <div class="md-progress">

                  <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>

                </div>

              </div>
              <!-- Second column -->

            </div>
            <!-- First row -->

          </section>
          <!-- Second section -->

        </div>

      </div>
      <!-- End Skills -->



        <!-- Start Portfolio-->
        <div class="container-fluid" style="background-color: #e8eaec;">

          <div class="container">

            <!-- Third section -->
            <section id="portfolio" class="section extra-margins text-center py-4">

              <!-- Section title -->
              <h1 class="text-center text-uppercase font-weight-bold mt-5 mb-3 mt-5 wow fadeIn" data-wow-delay="0.2s">My

            projects</h1>

          <!-- Section description -->
          <p class="text-center w-responsive mx-auto text-uppercase font-weight-bold wow fadeIn" data-wow-delay="0.2s">
            All

            about my work</p>

          <div class="line line-v2 wow fadeIn" data-wow-delay="0.2s"></div>

              <!-- Section description
              <p class="text-center w-responsive mx-auto wow fadeIn my-5">Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Quia iste provident, voluptatum voluptatibus aut modi aspernatur autem impedit, eius,
                debitis earum voluptatem. Quaerat hic aspernatur laborum magni earum.</p> -->

              <!-- First row -->
              <div class="row mb-3 wow fadeIn" data-wow-delay="0.4s">

                <!-- First column -->
                <div class="col-lg-4 col-md-12 mb-5">

                  <!-- Card -->
                  <div class="card card-cascade narrower">

                    <!-- Card image -->
                    <div class="view view-cascade overlay">

                      <img src="{% static 'img/projects/intercast.jpg' %}"
                        class="card-img-top h-50" alt="">

                      <a>

                        <div class="mask rgba-white-slight"></div>

                      </a>

                    </div>
                    <!-- Card image -->

                    <!-- Card content -->
                    <div class="card-body card-body-cascade">

                      <!-- <h5 class="red-text"><i class="fas fa-laptop"></i> Work</h5> -->

                      <!-- Title -->
                      <h4 class="card-title">Intercast Website</h4>

                      <!-- Text
                      <p class="card-text grey-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                        suscipit laboriosam, nisi ut aliquid ex ea commodi.</p> -->

                      <a class="btn btn-elegant">More Info</a>

                    </div>
                    <!-- Card content -->

                  </div>
                  <!-- Card -->

                </div>
                <!-- First column -->

                <!-- Second column -->
                <div class="col-lg-4 col-md-6 mb-5">

                  <!-- Card -->
                  <div class="card card-cascade narrower">

                    <!-- Card image -->
                    <div class="view view-cascade overlay">

                      <img src="{% static 'img/projects/inventorytransfer.jpg' %}"
                        class="card-img-top" alt="">

                      <a>

                        <div class="mask rgba-white-slight"></div>

                      </a>

                    </div>
                    <!-- Card image -->

                    <!-- Card content -->
                    <div class="card-body card-body-cascade">

                    <!--  <h5 class="teal-text"><i class="fas fa-camera-retro"></i> Photography</h5> -->

                      <!-- Title -->
                      <h4 class="card-title">Inventory Transfer Request</h4>

                      <!-- Text
                      <p class="card-text grey-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                        suscipit laboriosam, nisi ut aliquid ex ea commodi.</p> -->

                      <a class="btn btn-elegant">More Info</a>

                    </div>
                    <!-- Card content -->

                  </div>
                  <!-- Card -->

                </div>
                <!-- Second column -->

                <!-- Third column -->
                <div class="col-lg-4 col-md-6 mb-5">

                  <!-- Card -->
                  <div class="card card-cascade narrower">

                    <!-- Card image -->
                    <div class="view view-cascade overlay">

                      <img src="{% static 'img/projects/cif.jpg' %}"
                        class="card-img-top" alt="">

                      <a>

                        <div class="mask rgba-white-slight"></div>

                      </a>

                    </div>
                    <!-- Card image -->

                    <!-- Card content -->
                    <div class="card-body card-body-cascade">

                      <!-- <h5 class="cyan-text"><i class="fas fa-car"></i> Travel</h5> -->

                      <!-- Title -->
                      <h4 class="card-title">Customer Information</h4>

                      <!-- Text
                      <p class="card-text grey-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                        suscipit laboriosam, nisi ut aliquid ex ea commodi.</p> -->

                      <a class="btn btn-elegant">More Info</a>

                    </div>
                    <!-- Card content -->

                  </div>
                  <!-- Card -->

                </div>
                <!-- Third column -->

              </div>
              <!-- First row -->

            </section>
            <!-- Third section -->

          </div>

        </div>
        <!-- End Portfolio -->


  <!-- Start Contact-->
  <div class="container">

    <!-- Contact -->
    <section id="contact" class="section mb-4">

      <!-- Section heading -->
      <h1 class="text-center text-uppercase font-weight-bold mt-5 pt-4 mb-3 wow fadeIn" data-wow-delay="0.2s">Contact me</h1>

      <!-- Section description -->
      <p class="text-center  text-uppercase font-weight-bold  wow fadeIn" data-wow-delay="0.2s">to get more

        information</p>

      <div class="line wow fadeIn" data-wow-delay="0.2s"></div>

      <!-- Section sescription
      <p class="text-center w-responsive mx-auto my-5 pt-4 pb-3 wow fadeIn" data-wow-delay="0.2s">Lorem ipsum dolor

        sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi,

        veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p> -->

      <div class="row wow fadeIn" data-wow-delay="0.4s">

        <!-- First column -->
        <div class="col-md-8 mb-5">

          <form>

            <!-- First row -->
            <div class="row">

              <!-- First column -->
              <div class="col-md-6">

                <div class="md-form mb-0">

                  <input type="text" id="form41" class="form-control">

                  <label for="form41" class="">Your name</label>

                </div>

              </div>

              <!-- Second column -->
              <div class="col-md-6">

                <div class="md-form mb-0">

                  <input type="text" id="form52" class="form-control">

                  <label for="form52" class="">Your email</label>

                </div>

              </div>

            </div>
            <!-- First row -->

            <!-- Second row -->
            <div class="row">

              <div class="col-md-12">

                <div class="md-form mb-0">

                  <input type="text" id="form51" class="form-control">

                  <label for="form51" class="">Subject</label>

                </div>

              </div>

            </div>
            <!-- Second row -->

            <!-- Third row -->
            <div class="row">

              <!-- First column -->
              <div class="col-md-12">

                <div class="md-form mb-0">

                  <textarea type="text" id="form76" class="md-textarea form-control" rows="3"></textarea>

                  <label for="form76">Your message</label>

                </div>

              </div>

            </div>
            <!-- Third row -->

          </form>

          <div class="text-center text-md-left mt-4">

            <a class="btn btn-outline-black"><strong class="font-weight-bold mb-3 pb-3">Send</strong></a>

          </div>

        </div>
        <!-- First column -->

        <!-- Second column -->
        <div class="col-md-4">

          <ul class="contact-icons list-unstyled text-center">

            <li><i class="fas fa-map-marker-alt fa-2x"></i>

              <p class="pt-3 blue-grey-text">San Leonardo, Nueva Ecija, Philippines</p>

            </li>

            <li><i class="fas fa-phone fa-2x"></i>

              <p class="pt-3 blue-grey-text">+639751045304</p>

            </li>

            <li><i class="fas fa-envelope fa-2x"></i>

              <p class="pt-3 blue-grey-text">villaruel.mcrigor@gmail.com</p>

            </li>

          </ul>

        </div>
        <!-- Second column -->

      </div>

    </section>
    <!-- Section: Contact v.2 -->

  </div>
  <!-- End Contact -->

</main>
<!-- Main layout -->

<!-- Scrollspy -->
<div class="dotted-scrollspy clearfix d-none d-sm-block">

  <ul class="nav smooth-scroll flex-column">

    <li class="nav-item"><a class="nav-link" href="#home"><span></span></a></li>

    <li class="nav-item"><a class="nav-link" href="#about"><span></span></a></li>

    <li class="nav-item"><a class="nav-link" href="#skills"><span></span></a></li>

    <li class="nav-item"><a class="nav-link" href="#portfolio"><span></span></a></li>

    <li class="nav-item"><a class="nav-link" href="#contact"><span></span></a></li>

  </ul>

</div>


{% endblock content %}
